.navbar{
    display: flex;
    align-items: center;
    position: fixed;
    -webkit-column-gap: 3rem;
    padding: 2rem 2.8rem;
    overflow: hidden !important;
    min-width: 100vw !important;
    max-width: 100vw !important;
    transition: var(--transition);
    z-index: 10;
    background-color: #fff;
}

.logo{
    height: 2.5rem;
}

.header-bg{
    position: absolute;
    top: -250px;
    right: -140px;
    opacity: .6;
    z-index: -1;
    max-width: 50vw;
    transition: var(--transition);
}

