#features{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* HEADING */
.features__heading{
    display: flex;
    flex-direction: column;
    align-items: center;
}



/* CONTENT */
.features__content{
    display: grid;
    grid-template-columns: 500px 500px;
    gap: 1rem;
    margin-top: 1.5rem;
}

.features__content > span{
    display: grid;
    grid-template-columns: 200px 250px;
    align-items: center;
    gap: 1rem;  
}

.features__img{
    border: 2px solid #00BCD4;
    border-radius: 20px;
    width: 140px;
    height: 140px;
    transform: rotate(45deg);
    display: flex;
    align-items: center;
    justify-content: center;    
    margin: 1rem;
}

.features__img > img{
    transform: rotate(-45deg);
}


/* MEDIA QUERIES */

@media screen and (max-width: 1024px) {
    .features__content  {
        grid-template-columns: 500px;
        row-gap: 1.5rem;
    }
}
